/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

/*************************************************/

.odstavec1::first-letter {
	color: rgb(144, 144, 203);
	font-size: 30px;
	font-weight: 600;
}

.odstavec2::first-line {
	font-size: 20px;
}

h1::before {
	content: "ssjdksf";
	color: blanchedalmond;
}

/*
CSS Selektory:

::first-letter			první písmeno
::first-line				první řádek

::before
::after
*/
